{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creación Usuario</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Crear" />
    {{ form_end(form) }}

    <a href="{{ path('usuario_index') }}">Volver al listado.</a>
   
{% endblock %}
